{% extends 'base.html' %}


{% block content %}

<div class="col">
    <!--Se le pasa como argumento a la pantalla search.html el query-->
    <h4 class="text-center">Lista de Busqueda</h4>
    {% include 'products/snippets/search.html' with query=query %}
    <hr>
    <p>Resultados para :  {{ query }} ({{ count }})</p>

    <!-- {% include 'products/snippets/list.html' %} -->
    
    <div class="row">
        {% for product in product_list %}
        <div class="col-3 mt-5">
            {% include 'products/snippets/product.html' with product=product %}
        </div>
        {% endfor %}
    </div>

    




</div>

{% endblock %}



